/*
To do list for initial website CSS submission:
  -add nicer fonts
  -pick a font size
  -background colors
  -better spacing of images (especially seal logos at top)
  -change color of visited links
  -make prettier buttons
  -edit new pages
  -IMPORTANT: make sure display works on phone, tablet, and desktop (Greg is doing this)
		-probably shouldn't specify sizes in pixels then

  -links to other pages maybe and therefore creation of new pages

  -fill out report document
    -list elements used, why certain classes were used, future JS implementations, team contributions
*/

body {
	font-family: Impact;
	color: white;
	background-color: black;
}

#topRightLogo {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 10%;
    height: auto;
    width: auto;
}

#topLeftLogo {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 10%;
    height: auto;
    width: auto;
}

#fullBrowserWidthImg {
  max-width: 100%;
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
}

.titular {
	font-size: 600%;
	text-align: center;
}

.row {
	border: 1px solid black;
	display: flex;
}

.linkCell {
	border: 1px solid black;
	border-top: 0px;
	border-bottom: 0px;
	text-align: center;
	vertical-align: text-top;
	flex-basis: 100%;
	font-size: 150%;
	color: white;
	background-color: DarkGrey;
	padding: 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

.imageContainer {
    position: relative;
    text-align: center;
    color: white;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: crimson;
}

#aboutPic {
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
