body {
	font-family: Ranga, cursive, Impact, Lucida, Arial;
	color: white;
	background-color: black;
}

#topRightLogo {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 10%;
    height: auto;
    width: auto;
}

#topLeftLogo {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 10%;
    height: auto;
    width: auto;
}

#fullBrowserWidthImg {
  max-width: 100%;
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
}

#titular {
	font-size: 800%;
	text-align: center;
	margin: 0px;
}

.orangeShadow {
	text-shadow: 5px 5px 30px #ffa500;
}

.magentaShadow {
	text-shadow: 5px 5px 30px #ff00ff;
}

.cyanShadow {
	text-shadow: 5px 5px 30px #00FFFF;
}
.row {
	border: 1px solid black;
	display: flex;
}

.linkCell {
	border: 1px solid black;
	border-top: 0px;
	border-bottom: 0px;
	text-align: center;
	flex-basis: 100%;
	font-size: 150%;
	background-color: DarkGrey;
	padding: 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

.imageContainer {
    position: relative;
    text-align: center;
    color: white;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: crimson;
}

#aboutPic {
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#musicPreview {
	width:300px;
	height:380px;
	border:0;
}

#followOnSpotify {
	width:215px;
	height:56x;
	border:0;
	overflow: hidden;
}
